@import 'variables';
@import 'bootstrap/scss/mixins/breakpoints';

.full-text-box {
    margin: 72px 0;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        margin: 72px 0;
    }

    &.themed-background {
        background-color: #FDF5F3;

        .full-text-box__wrapper {
            position: relative;
            z-index: 3;
            padding: 60px 6px 50px;

            @include media-breakpoint-up(lg) {
                padding: 100px 65px;
            }

            h2 {

                @include media-breakpoint-up(lg) {
                    margin-bottom: 48px;
                }
            }

            .full-text-box__text {
                
                @include media-breakpoint-up(lg) {
                    padding-left: 53px;
                }
            }
        }

        .background-image-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 2;
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
            }
    
            img {
                display: block;
            }
    
            &.left {
                left: 0;
            }
    
            &.right {
                right: 0;
            }
        }
    }

    &.no-styling {

        .full-text-box__wrapper {
            padding: 0 !important;
            border: none !important;
        }
    }

    &:not(.themed-background):not(.no-styling) {
     
        .full-text-box__wrapper {
            padding: 24px 28px 28px 24px;
            border-radius: 30px;
            border: 2px solid #f2d4cd;

            @include media-breakpoint-up(lg) {
                padding: 45px;
            }
        }
    }

    .full-text-box__wrapper {

        h2 {
            margin-bottom: 18px;
            max-width: 727px;
            text-wrap: balance;

            @include media-breakpoint-up(lg) {
                margin-bottom: 28px;
            }
        }

        .full-text-box__text {

            p {
                margin-bottom: 10px;
                color: #605C5A;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 20px;
                }
            }

            ul {

                &:last-child {
                    margin-bottom: 0;
                }

                li {
                    margin-bottom: 12px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            p:last-child {
                margin-bottom: 0;
            }

            a {
                color: #E58B76;
                text-decoration: underline;
                font-weight: normal;
            }
        }
    }
}