<div class="full-text-box">
    <div class="container position-relative">
        <div class="background-image-wrapper left">
            <img src="/assets/img/transparent-leaf-left.png" alt="" role="presentation">
        </div>
        <div class="full-text-box__wrapper">
            <h2>{{ field.heading }}</h2>
            <div class="full-text-box__text">
                {{ field.description | raw }}
            </div>
        </div>
        <div class="background-image-wrapper right">
            <img src="/assets/img/transparent-leaf-right.png" alt="" role="presentation">
        </div>
    </div>
</div>