<div class="full-text-box {{ field.themedBackground ? 'themed-background' : (field.noStyling ? 'no-styling' : '') }}">
    <div class="container">

        {% if field.themedBackground %}
            <div class="background-image-wrapper left">
                <img src="/assets/img/transparent-leaf-left.png" alt="" role="presentation">
            </div>
        {% endif %}

        <div class="full-text-box__wrapper">

            {% if field.heading is not empty %}
                <h2>{{ field.heading }}</h2>
            {% endif %}

            <div class="full-text-box__text">
                {{ field.description | raw }}
            </div>
        </div>

        {% if field.themedBackground %}
            <div class="background-image-wrapper right">
                <img src="/assets/img/transparent-leaf-right.png" alt="" role="presentation">
            </div>
        {% endif %}

    </div>
</div>