<div class="social-links">
    <div class="container">
        <div class="social-links__wrapper">
            <div class="social-links__wrapper__content">
                <h2>
                    {{ "Contact me" | t }}
                </h2>

                <div class="social-links__wrapper__content__links">
                    <a href="mailto:info@karima-hocevar.com" target="_blank" rel="noopener noreferrer">
                        <span class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M3.12565 3.125H21.8757C22.451 3.125 22.9173 3.59137 22.9173 4.16667V20.8333C22.9173 21.4086 22.451 21.875 21.8757 21.875H3.12565C2.55035 21.875 2.08398 21.4086 2.08398 20.8333V4.16667C2.08398 3.59137 2.55035 3.125 3.12565 3.125ZM20.834 7.53958L12.5757 14.9354L4.16732 7.51667V19.7917H20.834V7.53958ZM4.69961 5.20833L12.5642 12.1479L20.3152 5.20833H4.69961Z" fill="#E58B76"/></svg>
                        </span>
                        <span>{{ "info@karima-hocevar.com" }}</span>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>