<div class="social-links">
    <div class="container">
        <div class="social-links__wrapper">
            <div class="social-links__wrapper__content">
                <h2>
                    {{ "Contact me" | t }}
                </h2>

                <div class="social-links__wrapper__content__links">
                    <a href="mailto:info@karimahocevar.com" target="_blank" rel="noopener noreferrer">
                        <span class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M3.12565 3.125H21.8757C22.451 3.125 22.9173 3.59137 22.9173 4.16667V20.8333C22.9173 21.4086 22.451 21.875 21.8757 21.875H3.12565C2.55035 21.875 2.08398 21.4086 2.08398 20.8333V4.16667C2.08398 3.59137 2.55035 3.125 3.12565 3.125ZM20.834 7.53958L12.5757 14.9354L4.16732 7.51667V19.7917H20.834V7.53958ZM4.69961 5.20833L12.5642 12.1479L20.3152 5.20833H4.69961Z" fill="#E58B76"/></svg>
                        </span>
                        <span>{{ "info@karimahocevar.com" }}</span>
                    </a>
                    <a href="tel:+386123456" target="_blank" rel="noopener noreferrer">
                        <span class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M16.6073 13.4768L12.8322 14.2083C10.2823 12.9285 8.70722 11.4583 7.79055 9.16668L8.49634 5.38075L7.16219 1.83334L3.89547 1.83334C2.76793 1.83334 1.88009 2.76322 2.05662 3.87687C2.46595 6.45915 3.62378 10.9582 6.87388 14.2083C10.2874 17.6218 15.1716 19.1444 17.9702 19.7718C19.1334 20.0326 20.1656 19.1242 20.1655 17.9321L20.1655 14.8328L16.6073 13.4768Z" stroke="#E58B76" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        </span>
                        <span>{{ "+386 123 456" }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>